@use '../../tokens/variables.scss' as *;

@mixin button-base {
  background: $blue;
  color: $white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

@mixin circle-base {
  position: absolute;
  width: 116px;
  height: 116px;
  filter: blur(20px);
  opacity: 0.3;
  background-color: $yellow;
}

.implantation {
  background-color: $gray900;
  padding-top: 160px;
  padding-bottom: 150px;
  &__content {
    margin: 0 auto;
    width: 1300px;
    position: relative;
  }
  &__title {
    width: 595px;
    margin-bottom: 56.5px;
    z-index: 2;
    &-primary {
      font-family: 'Inter', sans-serif;
      font-size: 48.633px;
      font-weight: 700;
      line-height: 68px;
      color: $white;
      span {
        color: $blue;
      }
    }
    &-adaptive {
      display: none;
    }
    &-mobile {
      display: none;
    }
    &-secondary {
      color: $white;
      font-size: 50px;
      font-weight: 400;
      line-height: 68px;
    }
  }

  &__card {
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    width: 485px;
    margin-bottom: 15.5px;
    z-index: 2;
    &-wrapper {
      padding: 19px 21px 29.5px 86px;
    }
    &-img {
      left: -56px;
      position: absolute;
      top: -40px;
    }
    &-img-mobile {
      display: none;
    }
    &-btn {
      @include button-base;
      font-family: 'Inter', sans-serif;
      padding: 9.5px 14px 10.5px 14px;
      font-size: 26px;
      font-weight: 800;
      line-height: 33px;
      margin-bottom: 9.5px;
    }
    &-description {
      color: $white;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      span {
        font-weight: 700;
      }
    }
  }
  &__description {
    width: 445px;
    color: $gray200;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 14.5px;
    z-index: 2;
  }
  &__description-adaptive {
    display: none;
  }
  &__price {
    width: fit-content;
    position: relative;
    z-index: 2;
    &-btn {
      @include button-base;
      border: 3px solid $blue;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      padding: 0;
      padding: 24.5px 43.5px 23.5px 59.5px;
    }
    &-img {
      position: absolute;
      z-index: 3;
      right: -10px;
      top: 5px;
    }
  }
  &__circle {
    z-index: 2;
    &-left {
      @include circle-base;
      left: 0;
      bottom: -70px;
    }
    &-right {
      @include circle-base;
      top: -70px;
      right: 0;
    }
  }
  &__background {
    position: absolute;
    bottom: -198px;
    left: 285px;
    z-index: 1;
  }
  &__background-adaptive {
    display: none;
  }
  &__message {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.52);
    background: $beige;
    backdrop-filter: blur(11px);
    width: 373px;
    position: absolute;
    left: 915px;
    top: 53px;
    z-index: 2;
    &-wrapper {
      padding: 41.5px 25px 30px 41px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
    }
    &-img {
      position: absolute;
      top: -30px;
    }
    &-title {
      color: $gray700;
      font-size: 24px;

      font-weight: 400;
      line-height: 34px; /* 141.667% */
      text-transform: uppercase;
      span {
        font-weight: 700;
      }
    }
    &-text {
      color: $gray700;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      span {
        font-weight: 700;
      }
    }
    &-footer {
      color: $gray300;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px; /* 100% */
    }
    &-triangle {
      background-color: $beige;
      bottom: 62px;
      height: 35px;
      left: -10px;
      position: absolute;
      transform: rotate(-45deg);
      width: 35px;
    }
  }
}

@media (max-width: 1605px) {
  .implantation {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 150px;
    padding-left: 21px;
    padding-right: 21px;
    margin: 0 auto;

    &__content {
      width: 768px;
      position: relative;
    }

    &__title {
      width: 450px;
      margin-bottom: 53px;
      &-adaptive {
        display: block;
        font-family: 'Inter', sans-serif;
        color: $white;
        font-size: 31.125px;
        font-weight: 700;
        line-height: 40px;
        span {
          color: $blue;
        }
      }
      &-primary {
        display: none;
      }
      &-secondary {
        color: $white;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
      }
    }

    &__card {
      width: 334px;
      margin-bottom: 16px;
      &-wrapper {
        padding: 17px 13px 17px 50px;
      }
      &-img {
        left: -38px;
        top: -38px;
        width: 117px;
        height: 117px;
      }
      &-btn {
        padding: 10px 16.8px 10px 16.98px;
        font-size: 20px;
        font-weight: 800;
        line-height: 22px;
        margin-bottom: 15px;
      }
      &-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }
    &__description {
      display: none;
    }

    &__description-adaptive {
      position: relative;
      color: $gray200;
      display: block;
      width: 305px;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 14px;
      z-index: 2;
    }
    &__price {
      width: fit-content;
      &-btn {
        padding: 24.5px 34px 25.5px 27px;
      }
      &-img {
        right: -53px;
      }
    }
    &__background {
      display: none;
    }
    &__background-adaptive {
      display: block;
      position: absolute;
      bottom: -325px;
      left: -19px;
      z-index: 1;
      width: 766px;
    }
    &__message {
      width: 291px;
      left: 431px;
      top: 91px;
      &-wrapper {
        padding: 26px 23px 35px 24px;
        gap: 7px;
      }

      &-title {
        color: $gray700;
        font-size: 22px;
        line-height: 24px;
        width: 180px;
      }
      &-text {
        font-size: 14px;
        line-height: 20px;
      }

      &-triangle {
        display: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .implantation {
    &__content {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .implantation {
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;

    &__title {
      width: 357px;
      margin-bottom: 27px;
      &-adaptive {
        display: none;
      }

      &-mobile {
        display: block;
        font-size: 19.688px;
        font-weight: 700;
        line-height: 32px;
        font-family: 'Inter', sans-serif;
        color: $white;
        span {
          color: $blue;
        }
      }
      &-secondary {
        font-size: 20px;
        line-height: 32px;
      }
    }

    &__card {
      width: 358px;
      margin-bottom: 27px;
      &-wrapper {
        padding: 17px 17px 17px 41px;
      }
      &-img {
        display: none;
      }

      &-img-mobile {
        display: block;
        left: -16px;
        position: absolute;
        top: -26px;
        width: 117px;
        height: 117px;
        width: 95px;
      }
      &-btn {
        width: 100%;
        padding: 10px 16.8px 10px 16.98px;
        text-align: start;
        margin-bottom: 15px;
      }
      &-description {
        font-size: 13px;
        line-height: 20px;
      }
    }
    &__price {
      width: fit-content;
      &-btn {
        padding: 26px 49px 27px 27px;
      }
      &-img {
        right: -53px;
      }
    }
    &__background {
      display: none;
    }
    &__background-adaptive {
      display: none;
    }
    &__message {
      display: none;
    }
  }
}
