$primary-gradient: linear-gradient(270deg, #367aca 5.28%, #a87bfa 100%);
$white: #fff;
$beige: #f3f3f3;
$deepWhite: #e9e9e9;
$blue: #367aca;
$yellow: #ffc224;
$black: #202020;
$gray1000: #36302e;
$gray900: #41404d;
$gray800: #444350;
$gray700: #444c54;
$gray600: #565b61;
$gray400: #a1a1a1;
$gray300: #969696;
$gray200: #bebdc5;
