@use '../../tokens/variables.scss' as *;

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  justify-content: center;
  align-items: center;

  &--active {
    display: flex;
  }

  &__content {
    background: $white;
    border-radius: 10px;
    position: relative;
    border-radius: 5px 30px;
    width: 630px;
    &-container {
      padding: 56px 80px 65px 80px;
    }
  }

  &__title {
    color: $gray1000;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 30px;
    font-family: 'Lora', sans-serif;
    margin: 0 0 30px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 23px;
  }
  &__footer {
    color: $gray400;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    span {
      text-decoration: underline dotted;
      cursor: pointer;
    }
  }

  &__input {
    padding: 24px 36px 25px 36px;
    border: 1px solid #dbdbdb;
    border-radius: 5px 30px;

    color: $gray400;
    font-size: 16px;
    font-weight: 400;

    &:focus {
      outline: none;
      border-color: $blue;
    }
  }

  &__submit {
    background: $blue;
    color: $white;
    border-radius: 5px 30px;
    width: 100%;
    height: 65px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    transition: background 0.3s;

    &:hover {
      background: $blue;
      opacity: 0.9;
    }
  }
}

@media (max-width: 767px) {
  .modal {
    &__content {
      &-container {
        padding: 56px 20px 65px 20px;
      }
    }

    &__title {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
