@use '../../tokens/variables.scss' as *;

.guarantees {
  background-color: $deepWhite;
  padding-top: 122px;
  &__content {
    margin: 0 auto;
    width: 1290px;
    position: relative;
  }
  &__badge {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    &-img {
      left: 40px;
      position: absolute;
      top: -129px;
      z-index: 1;
    }
    &-img-adaptive {
      display: none;
    }
    &-img-mobile {
      display: none;
    }
    &-name {
      color: #41404d;
      font-size: 23px;
      font-weight: 700;
      line-height: 31px;
    }
    &-text {
      color: #41404d;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }
    &-exp {
      color: #41404d;
      font-size: 18px;
      font-weight: 800;
      line-height: 9px;
    }
  }
  &__message {
    border-radius: 16px;
    background: $beige;
    backdrop-filter: blur(11px);
    width: 384px;
    &-wrapper {
      padding: 34px 30px 37px 29px;
      display: flex;
      flex-direction: column;
      gap: 14.5px;
      position: relative;
      z-index: 2;
    }
    &-img {
      position: absolute;
      top: -25px;
    }
    &-title {
      color: $black;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px; /* 130% */
      text-transform: uppercase;
    }
    &-text {
      color: $gray600;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      span {
        font-weight: 700;
      }
    }
    &-triangle {
      background-color: $beige;
      bottom: 86px;
      height: 35px;
      left: -3px;
      position: absolute;
      transform: rotate(-45deg);
      width: 35px;
      z-index: 1;
    }
    &-btn {
      background: $primary-gradient;
      color: $white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      width: 248px;
      height: 43px;
      padding: 0;
      color: $white;
      font-size: 15px;
      font-weight: 700;
      line-height: 20px; /* 133.333% */
      text-transform: uppercase;
    }
  }
  &__types {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: fit-content;
  }
  &__type {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &-title {
      color: $gray900;
      font-size: 21px;
      font-weight: 800;
      line-height: 21px; /* 147.619% */
      text-transform: uppercase;
    }
    &-text {
      color: $gray900;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 63px;
    &-right {
      display: flex;
      gap: 64px;
    }
    &-message {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}

@media (max-width: 1605px) {
  .guarantees {
    padding-top: 65px;
    padding-left: 21px;
    padding-right: 21px;
    &__content {
      margin: 0 auto;
      width: 768px;
    }
    &__badge {
      gap: 25px;
      position: relative;
      &-img {
        display: none;
      }
      &-img-adaptive {
        display: block;
        bottom: -53px;
        position: absolute;
        left: -21px;
      }
    }
    &__message {
      width: 367px;
      &-wrapper {
        padding: 37px 25px 38px 27px;
        gap: 19px;
      }
      &-title {
        width: 210px;
      }
      &-text {
        font-size: 14px;
        line-height: 24px;
        span {
          font-weight: 700;
        }
      }
      &-triangle {
        display: none;
      }
      &-btn {
        display: none;
      }
    }
    &__types {
      gap: 36px;
    }
    &__type {
      flex-direction: row;
      gap: 7px;
      &-title {
        font-size: 20px;
        line-height: 30px; /* 150% */
      }
      &-text {
        font-size: 14px;
        font-weight: 500;
      }
      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
    &__wrapper {
      padding-bottom: 54px;
      &-right {
        gap: 36px;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 800px) {
  .guarantees {
    &__content {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .guarantees {
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;

    &__wrapper {
      flex-direction: column;
      align-items: flex-end;
      gap: 50px;
    }
    &__badge {
      gap: 9px;
      width: 126px;
      &-img {
        display: none;
      }
      &-img-adaptive {
        display: none;
      }
      &-img-mobile {
        bottom: -50px;
        display: block;
        left: -232px;
        position: absolute;
      }
      &-name {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        text-align: start;
      }
      &-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        text-align: end;
      }
      &-exp {
        font-size: 18px;
        font-weight: 800;
        line-height: 26px;
        text-align: end;
      }
    }
    &__message {
      width: 100%;
      &-wrapper {
        padding: 28.5px 16px 26px 15px;
        gap: 7px;
      }
      &-img {
        position: absolute;
        top: 0px;
        width: 49px;
        height: 32px;
      }
      &-title {
        width: 210px;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
      }
    }
    &__types {
      width: 100%;
      gap: 30px;
      align-items: center;
    }
    &__type {
      flex-direction: column;
      gap: 10px;
      &-title {
        font-size: 20px;
        line-height: 30px; /* 150% */
      }
      &-text {
        font-size: 14px;
        font-weight: 500;
      }
      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
    &__wrapper {
      padding-bottom: 40px;
      &-right {
        gap: 36px;
        flex-direction: column;
      }
    }
  }
}
